/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-bg-nav: #ff6900;
    --color-bg-main: #ffffff;
    --color-primary: #1a1a1a;
    --color-discount: #ff0000;
    --color-sustainability: #008000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.gap {
    gap: 30px;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px;
    justify-items: center;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Navigation */
header {
    width: 100%;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px #aaaaaa;
    background-color: var(--color-bg-nav);
}

a,
.font-awesome {
    color: var(--color-bg-main);
}

nav ul li {
    padding: 10px 5px;
}

div i {
    padding-right: 10px;
}

p {
    padding-top: 5px;
    padding-right: 10px;
}
header nav img{
    height: 50px;
}


/* Utility */
.red {
    color: var(--color-discount);
}

/* Main */
main.container {
    background-color: var(--color-bg-main);
    margin-top: 100px;
    margin-bottom: 30px;
}

/*  Card */
.card-image {
    position: relative;
}
.card img{
    width: 100%;
}
.image {
    display: block;
}

.secondary-image {
    display: none;
}

.card:hover .image {
    display: none;
}

.card:hover .secondary-image {
    display: block;
}

.card {
    width: calc(100% / 3 - 30px);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
  }

div nal ul li,
div div img,
i {
    cursor: pointer;
}

/* badge */
.badge {
    background-color: var(--color-discount);
    color: var(--color-bg-main);
    padding: 3px;
    text-align: left;
    position: absolute;
    bottom: 100px;
    left: 0px;
}

.sostenibility {
    background-color: var(--color-sustainability);
    color: var(--color-bg-main);
    padding: 3px;
    text-align: left;
    position: absolute;
    bottom: 100px;
    left: 55px;
}

.sostenibility2 {
    background-color: var(--color-sustainability);
    color: var(--color-bg-main);
    padding: 3px;
    text-align: left;
    position: absolute;
    bottom: 100px;
}

.heart {
    padding: 10px;
    color: var(--color-primary);
    background-color: var(--color-bg-main);
    position: absolute;
    right: 0px;
    top: 10px;
}
.heart:hover{
    color: var(--color-discount);
}

.price {
    padding-right: 10px;
}

/* drop down menu */
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    z-index: 1;
  }
.dropdown-content a {
    color: var(--color-primary);
    padding: 5px 3px;
    display: block;
  }
  .dropdown:hover .dropdown-content {display: block;}

/* Flex Utility*/
.d-flex {
    display: flex;
}

.align-items {
    align-content: center;
}

.j-content {
    justify-content: space-between;
}

.s-between {
    justify-content: space-between;
}

.f-wrap {
    flex-wrap: wrap;
}

/* Footer */
footer {
    background-color: var(--color-primary);
    width: 100%;
    height: 100px;
    color: var(--color-bg-main);
    padding-top: 10px;
}

.social {
    padding-top: 10px;
}