* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-bg-nav: #ff6900;
    --color-bg-main: #ffffff;
    --color-primary: #1a1a1a;
    --color-discount: #ff0000;
    --color-sustainability: #008000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.gap{
    gap: 70px;
}

/* Main */
main{
    background-color: var(--color-bg-main);
}

/* Container */
.container {
    max-width: 1200px;
    margin: 50px auto;
    justify-items: center;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Navigation */
.navigation {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.208);
    background-color: var(--color-bg-nav);
}

a,
.font-awesome {
    color: var(--color-bg-main);
}

nav ul li {
    padding: 10px 15px;
}

div i {
    padding-right: 10px;
}
p{
    padding-top: 5px;
    padding-right: 10px;
}

/* Logo Img */
#img-logo {
    width: 120px;
}

/* Utility */
.red{
    color: var(--color-discount);
}

/*  Card */
.image {
    width: 250px;
    display: block;
    vertical-align: bottom;
}
.secondary-image{
    display: none;
    width: 250px;
}
.card:hover .image{
    display:none;
}
.card:hover .secondary-image{
    display:block;
}
.card {
    width: calc(100% / 3 - 70px);
    cursor: pointer;
}
.card-image {
    position: relative;
}

.badge{
    background-color: var(--color-discount);
    color:var(--color-bg-main);
    padding: 5px;
    text-align:left;
    position:absolute;
    bottom: 100px;
    left:0px;
}
.sostenibility{
    background-color: var(--color-sustainability);
    color:var(--color-bg-main);
    padding: 5px;
    text-align:left;
    position:absolute;
    bottom: 100px;
    left:55px;
}
.sostenibility2{
    background-color: var(--color-sustainability);
    color:var(--color-bg-main);
    padding: 5px;
    text-align:left;
    position:absolute;
    bottom: 100px;
}
.heart{
    padding: 10px;
    color: var(--color-primary);
    background-color: var(--color-bg-main);
    position:absolute;
    right: 10px;
    top:10px;
}
.price{
    padding-right: 10px;
}

/* Footer */
footer{
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    color: var(--color-bg-main);
}

/* Flex */
.d-flex {
    display: flex;
}

.j-content {
    justify-content: space-between;
}

.s-between {
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}